.MainMenu {
    background-color: white;
}
.colorInicio{
    background-color: red;
}
.navlink{
    color: #000052 !important;
    font-weight: 500;
}
.navbarN{
    border: 1px solid #c3c3c3;
    padding: 10px;
    border-radius: 25px;
}