.MainMenu {
   
}
.colorInicio{
    padding: 17px 10px 10px 10px;
    background-color: #FF003C;
    border-radius: 20px 0px 0px 20px;
    color: white;
    width: 160px;
    height: 56px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
}

.navlink{
    color: #000052 !important;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 50px;
}
.navbarN{
    border: 1px solid #c3c3c3;
    border-radius: 25px;
    background-color: white !important;
    height: 57px;
    padding: 0px;
}

.nav-item{
    margin-right: 60px;
}