.SobreWs {
    color:#000052;
    margin-top: 20px;
}

.imSw{
    padding: 10px 20px 0px 0px;
}
.imgIn{
    max-width: 100%;
}
.titulWs{
    margin-right: 20px;
    border-bottom: 2px solid #9d9d9d;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Josefin Sans', sans-serif;
}