@import "../../utils/variables";

.SobreWs {
    color:$font-color-title;
    margin-top: 20px;
}

.imSw{
    padding: 10px 20px 0px 0px;
}
.imgIn{
    max-width: 100%;
}
.titulWs{
    @extend .titulGe;
}