@import "../../utils/variables";

.GaleriaImaHome {
    
}

.titulWs{
    @extend .titulGe;
    margin-top: 30px;
}
.imageGal{
    width: 100%;
}
.conImgGal{
    margin-top: 20px;
    position: relative;
}
.cuadroEncima{
    position: absolute;
    background: rgb(255,0,60,0.9);
    width: 96%;
    top: 5%;
    left: 2%;
    text-align: center;
    height: 90%;
    color: white;
}


.tituloGaleriaIm{
    padding-top: 16%;
}