@import "../utils/variables";

//estilos habilidades

.generalPa{
    font-family:$tip-princi ;
    color: $font-color-title;
}
.tituloGeneral{
    max-width: 1094px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}
.tituloGeneral h3{
    text-transform: uppercase;
}

//wsnacional
.contBlanco{
    background-color: white;
    padding: 38px;
    font-family:$tip-princi ;
}
.contBlanco h3{
    color:$colorSecun;
    text-transform: uppercase;
}
.contBlanco h3>span{
    color: $font-color-title;
    font-weight: 700;
}
.contLogros{ 
    background-color: white;
    margin-top: 30px;
        }
.tituloLogros{
    padding: 30px 30px 0px 30px;
    
    color:$colorSecun;
}
.tituloLogros h3{
    font-weight: 700;
}
//competidores colombia

.btn0{
    margin: 0px 39px 0px 2px;
}

//noticias

.noticiasMitad{
        width: 50%;
}
  
@media only screen and (max-width: 600px) {
    .noticiasMitad{
        width: 100%;
    }
  }
//galeriaImagesn
.imgale{
    width: 100%;
    margin-top: 20px;
}
//video
.videoItmPrin{
    margin-top: 30px;
}

.imgVio{
    width: 100%;
}

.stilosVideo{
    font-family:$tip-princi ;
    color: $font-color-title;
}
.imgStVo{
    padding: 10px;
}
.videoItm{
    background: white;
}
.textConVi{
    padding: 5% 12px 14px 9px;
}
.textConVi h3{
    font-weight: 700;
}
.reproBut{
    position: relative;
    width: 100%;
    height: 100%;
}
.buttonRev{
    position: absolute;
    width: 70px;
    height: 50px;
    top: 30%;
    left: 36%;
    background: #000000a3;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding-top: 2px;
}
.buttonRev:hover{
    background: rgb(255 0 0 / 64%)
}
.selecC{
    background: #000052;
    color: white;
}

.active{
    color: $font-color-title;
    background-color: white !important;
    text-decoration: underline !important;
    text-decoration-color: #ff003c !important;
    text-underline-offset: 19px !important;
    text-decoration-thickness: 3px !important;
}