@import "../../utils/variables";

.Footer {
    color:white;
    padding: 20px 0px 20px 0px;
    
}
.titleSena{
    font-weight: 700 !important;
}

.Footer p{
    margin: 0px;
    padding: 0px;
    font-family: $tip-princi;
    font-weight: 200;
}
.footerBack{
    margin-top: 30px;
    background-color: $font-color-title;
}


.logos{
    color:white;
    padding: 20px 0px 20px 0px;
}
.iconsR{
    margin-right: 5%;
    color:white;
}
.alignEnd{
    text-align: end;
}
.logoBlanco{
    margin-top: 15%;
    width: 100%;
}
.linkFooter{
    color:white !important;
}
.linkFooter:hover{
    color:white;
    font-weight: 500;
}