.GalImageDetalle {
    margin-top: 30px;
    
}

.imgGalerDet{
    width: 100%;
    padding: 9px;
    cursor: pointer;
}

.estiloImgModal{
    width: 100%;
    position: relative;
}
.estiloModalImg{
    max-width: 1200px;
    margin: auto;
    padding: 100px; 
    position: relative;
}
.btnCrrarImg{

}