
// Default variable overrides
$body-bg: #EFEFEF;
$link-color: #000052;
$theme-colors: (
  "custom-color": #900
);
.navbar-toggler{
    margin-right: 35px;
}

// Required
@import "~bootstrap/scss/bootstrap";
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// etc

.active a{
  color: red !important;
}